<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strr.admin.mapper.SysUserDetailsMapper">
    <select id="getByUsername" resultType="com.strr.admin.model.SysUserDetails">
        select id, username, password, nickname, email, avatar, remark, login_time, creator,  create_time, updator, update_time, status
        from sys_user where username = #{username}
    </select>

    <select id="listRoleByUserId" resultType="com.strr.admin.model.SysRole">
        select t1.id, t1.name, t1.title, t1.seq, t1.creator, t1.create_time, t1.updator, t1.update_time, t1.status
        from sys_role t1 left join sys_rel_user_role t2 on t1.id = t2.rid
        where t2.uid = #{userId}
    </select>
</mapper>