<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strr.admin.mapper.SysUserMapper">
    <insert id="saveRel">
        insert into sys_rel_user_role values(#{uid}, #{rid})
    </insert>

    <delete id="removeRel">
        delete from sys_rel_user_role where uid = #{uid} and rid = #{rid}
    </delete>

    <select id="listRelByUid" resultType="java.lang.Integer">
        select rid from sys_rel_user_role where uid = #{uid}
    </select>

    <delete id="removeRelByUid">
        delete from sys_rel_user_role where uid = #{uid}
    </delete>
</mapper>