<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strr.system.mapper.SysRelRoleResourceMapper">
    <insert id="batchSave">
        insert into sys_rel_role_resource(role_id, resource_id) values
        <foreach collection="resourceIds" item="resourceId" separator=",">
            (#{roleId}, #{resourceId})
        </foreach>
    </insert>

    <select id="listByRoleId" resultType="java.lang.Integer">
        select resource_id from sys_rel_role_resource where role_id = #{roleId}
    </select>

    <delete id="removeByRoleId">
        delete from sys_rel_role_resource where role_id = #{roleId}
    </delete>

    <delete id="removeByResourceId">
        delete from sys_rel_role_resource where resource_id = #{resourceId}
    </delete>
</mapper>